<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Gestor Conveniência</title>
	</f:facet>

	<f:facet name="middle">
		<h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />

		<h:outputStylesheet name="bootstrap/css/sb-admin.css" />

		<h:outputStylesheet name="bootstrap/css/plugins/morris.css" />

		<h:outputScript name="bootstrap/js/bootstrap.min.js" />
		<h:outputScript name="bootstrap/js/jquery.js" />
		<!-- Morris Charts JavaScript -->
		<script src="bootstrap/js/plugins/morris/raphael.min.js"></script>
		<script src="bootstrap/js/plugins/morris/morris.min.js"></script>
		<script src="bootstrap/js/plugins/morris/morris-data.js"></script>
	</f:facet>

	<f:facet name="last">
		<h:outputStylesheet name="css/font-awesome.css" />
	</f:facet>

</h:head>
<h:body>
	<h:form>
		<h:messages infoClass="alert alert-info alert-dismissable">
		</h:messages>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h1 align="center"><small> Sistema Gestor Conveniência </small></h1>
					<div class=" panel panel-default">
						<div class="panel-heading"><i class="fa fa-sign-in"></i> Por favor, Efetue o Login</div>
						<div class="panel-body">
							<div class="form-group">
								<h:inputText styleClass="form-control" value="#{usuarioController.pessoa.nome}"
									p:placeholder="nome" />
							</div>
							<div class="form-group">
								<h:inputSecret styleClass="form-control"
									value="#{usuarioController.pessoa.senha}" p:placeholder="Senha" />

							</div>
							<h:commandButton styleClass="class= btn btn-lg btn-primary btn-block"
								action="#{usuarioController.efetuarLogin}" value="Confirmar" />
						</div>
					</div>


				</div>


			</div>
		</div>
	</h:form>
</h:body>
</html>

