<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition>
<h:form>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h:commandLink styleClass="navbar-brand" action="/secured/index.jsf?faces-redirect=true" value="Gestor Conveniência"/>
		</div>
		<ul class="nav navbar-right top-nav">
			<li><a href="#"><i class="fa fa-fw fa-gear"></i>Configurações</a></li>
			<li><a href="#"><i class="fa fa-fw fa-user"></i> Usuário </a></li>
			<li><h:commandLink  action="#{usuarioController.encerrarSessao}"> <i class="fa fa-fw fa-power-off"></i> Sair</h:commandLink></li>
		</ul>
		
		<ui:include src="leftMenu.xhtml" />
	</nav>
</h:form>
</ui:composition>
</html>